/* 
Light Lime: #abd699
Fresh Lemon: #ffe26a
Teal: #75c9b7
Mint: #c7ddcc
Navy: #16123f */

body {
  background-color: rgba(128, 128, 128, 0.473);
}

.header {
  background-color: #c7ddcc;
  height: 129px;
  margin-top: 0;
  border-bottom: 1px solid #75c9b7;

}

#navbarScroll {
  z-index: 5;
}

.content {
  margin-top: 15px;
}

.list-weather-of-days {
  margin-top: 11px;
}

.list-weather-of-days div {
  margin: 15px;
  display: inline-block;
  max-width: 233px;
  /* max-width: 250px;
  width: 100%; */
  width: 100%;
  margin: 5px;
}

.min-temp {
  /* width: 41%; */
  background-color: #ffe16a54;
  font-size: 19px;
  display: inline-block;
  text-align: center;
}

.max-temp {
  /* width: 41%; */
  background-color: #75c9b773;
  font-size: 19px;
  display: inline-block;
  text-align: center;
}

.footer {
  background-color: #c7ddcc;
  margin-top: 15px;
  padding: 25px;
  text-align: center;
  border-top: 1px solid #75c9b7;
  font-size: 19px;
}

.error {
  color: red;
  text-align: center;
  padding: 15px;
}

.loading {
  text-align: center;
  padding: 15px;
}

.weather-of-day {
  /* width: 100%; */
  height: 295px;
  padding: 11px;
  /* background-color: #c7ddcc; */
  border: 1px solid #75c9b77a;
}

/* .weather-of-day .card-text {
  background-color: #c7ddcc;
} */
.current-weather {
  border: 1px solid #75c9b7;
  height: 235px;
}